<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/gallery.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
    <%- include('partials/alert') %>
        <div class="content">
            <div class="hero" id="home">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <div class="hero-text-box">
                            <h2>TAKE A LOOK AT OUR HUMBLE ABODE</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery page" id="gallery">
                <div class="head">
                    <h1>Gallery</h1>
                    <p>Here at <span class="highlight">Sardion Care</span> we provide our children with the necessary things for their enjoyment.<br>Why dont you take a look</p>
                </div>
                <div class="gallery-box">
                    <% if (Object.keys(allFiles).length > 0) { %>
                        <% for( const key in allFiles ) { %>
                            <div class="gallery-title">
                                <h1><%= key %></h1>
                                <button class="gallery-btn" data-target="gallery-<%= key.split(" ").join("-") %>"><i class="fa-solid fa-angle-up"></i></button>
                            </div>
                            <div class="gallery-<%= key.split(" ").join("-") %> gallery-cont">
                            <% allFiles[key].forEach(elem => { %>
                                <div class="gallery-img" onclick="">
                                    <% if (elem.includes("-vid")) { %>
                                        <video controls preload="metadata" muted>
                                            <source src="/gallery/<%= elem.split("-").slice(0, -1).join("-") %>" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    <% } else { %>
                                        <img src="/gallery/<%= elem %>" alt="key">
                                    <% } %>
                                </div>
                            <% }) %>
                            </div>
                        <% } %>
                        
                    <% } else { %>
                        <div class="no-gallery">
                            GALLERY SEEMS TO BE EMPTY
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="greet page">
                <div class="head">
                    <h1>WE HOPE TO SEE YOU SOON</h1>
                    <a href="/contact">Check for bed availability</a>
                </div>
            </div>
        </div>
    <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>

<% if (Object.keys(allFiles).length === 0) { %>
 <script>
    attachAlert("Error Loading Gallery", "error");
 </script>
<% } %>

</html>